Ajout d'un produit :

<form action="/addProduct" method="post">
<table>
    <tr>
        <td>Nom :</td><td><input type="text" name="nomProd"></td>
    </tr>
    <tr>
        <td>Description :</td><td><input type="text" name="descProd"></td>
    </tr>
</table>
<input type="submit" value="ok">
</form>